<nav id="menu">
  <h1>
    <div id="hamburger">
      <a href="#mobile-menu">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <a href="#mobile-menu" class="mobile">dev<span class="suffix">choice</span></a>
    <a href="" class="tablet exclude-mobile">d<span class="suffix">c</span></a>
    <a href="" class="desktop exclude-tablet">dev<span class="suffix">choice</span></a>
  </h1>
  <div>
    <a href="https://www.yvesgurcan.com#about">About</a>
    <a href="https://www.yvesgurcan.com#javascript">JavaScript</a>
    <a href="https://www.yvesgurcan.com#portfolio">Portfolio</a>
    <a href="https://blog.yvesgurcan.com">Blog</a>
    <a href="https://links.yvesgurcan.com">Links</a>
    <a href="">Podcasts</a>
    <a href="https://www.yvesgurcan.com#contact">Contact</a>
  </div>
</nav>

<nav id="mobile-menu" class="mobile">
  <div id="links">
    <div id="link-items">
      <a href="https://www.yvesgurcan.com#about">About</a>
      <a href="https://www.yvesgurcan.com#javascript">JavaScript</a>
      <a href="https://www.yvesgurcan.com#portfolio">Portfolio</a>
      <a href="https://blog.yvesgurcan.com">Blog</a>
      <a href="https://links.yvesgurcan.com">Links</a>
      <a href="">Podcasts</a>
      <a href="https://www.yvesgurcan.com#contact">Contact</a>
    </div>
    <div id="close">
      <a href="#">&times;</a>
    <div>
  </div>
</nav>
