<script>
  function removeIllegalCharacters(string, variation = false) {
    if (variation) {
      return string.replace(/[\. ~\^\[\]]/g, '-');
    }
    return string.replace(/[\.\/ ~\^\[\]]/g, '-');
  }

  function createPullRequest(event) {
    event.preventDefault();
    const episode = document.getElementById('episode').value;
    const slug = document.getElementById('permalink').value;
    const podcast = document.getElementById('podcast').value;
    const description = document.getElementById('description').value;
    const link = document.getElementById('link').value;
    const media = document.getElementById('media').value;
    const image = document.getElementById('image').value;
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    const branch = removeIllegalCharacters(episode);
    const permalink = removeIllegalCharacters(slug, true);

    const data = {
      episode,
      permalink,
      podcast,
      description,
      link,
      media,
      image,
      branch,
      username,
      password
    };
    console.log({data});
    return true;
  }

  document.getElementById("create-pull-request").addEventListener("submit", function(event) {
    event.preventDefault();
    createPullRequest(event);
  }, false);
</script>