<script>
  function removeIllegalCharacters(string, variation = false) {
    if (variation) {
      return string.replace(/[\. ~\^\[\]]/g, '-');
    }
    return string.replace(/[\.\/ ~\^\[\]]/g, '-');
  }

  function writeFeedback(string, status) {
    console.log(string)
    document.getElementById('feedback').innerHTML = string;
  }

  function readResponseError({ status, statusText}) {
    writeFeedback(`Error ${status}: ${statusText}`, 'error')
    return { error: true, status, statusText }
  }

  function extractSha(json) {
    const { object } = json;
    const { sha } = object;
    return sha;
  }

  function extractTreeUrl(json) {
    const { tree } = json;
    const { url } = tree;
    return url;
  }

  function extractTree(json) {
    const { tree } = json;
    return tree;
  }

    function extractShaFromBlob(json) {
    const { sha } = json;
    return sha;
  }

  function extraShaOfTargetFolder(json) {
    const targetFolder = json.find(entry => entry.path === '_podcasts');
    const { sha } = targetFolder;
    return sha;
  }

  async function createPullRequest(event = undefined) {
    if (event) {
      event.preventDefault();      
    }
    const episode = document.getElementById('episode').value;
    const slug = document.getElementById('permalink').value;
    const podcast = document.getElementById('podcast').value;
    const description = document.getElementById('description').value;
    const link = document.getElementById('link').value;
    const media = document.getElementById('media').value;
    const image = document.getElementById('image').value;
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    const branch = removeIllegalCharacters(episode);
    const permalink = removeIllegalCharacters(slug, true);
    const credentials = btoa(`${username}:${password}`);

    const data = {
      episode,
      permalink,
      podcast,
      description,
      link,
      media,
      image,
      branch,
      username,
      password,
      credentials,
    };
    console.log({data});

    const authHeaders = {
      headers: {
        Authorization: `Basic ${credentials}`,
      }
    };

    // fetch head
    console.log('GET {{ site.github_api }}/git/refs/heads/master');
    const fetchHead = await fetch('{{ site.github_api }}/git/refs/heads/master', authHeaders)
      .then(response => {
        if (response.status !== 200) return readResponseError(response);
        return response.json();
      })
      .catch(error => writeFeedback(`Error: ${error.message}`));

    if (fetchHead.error) return;

    const commitId = extractSha(fetchHead);
    console.log(`Fetched last commit to master: ${commitId}.`)

    // fetch commit
    console.log(`GET {{ site.github_api }}/git/commits/${commitId}`);
    const fetchCommitDetails = await fetch(`{{ site.github_api }}/git/commits/${commitId}`, authHeaders)
      .then(response => {
        if (response.status !== 200) return readResponseError(response);
        return response.json();
      })
      .catch(error => writeFeedback(`Error: ${error.message}`));

    if (fetchCommitDetails.error) return;

    const treeUrl = extractTreeUrl(fetchCommitDetails);
    console.log(`Fetched tree URL of the commit: ${treeUrl}.`)

    // fetch tree
    console.log(`GET ${treeUrl}?recursive=true`);
    const fetchTree = await fetch(`${treeUrl}?recursive=true`, authHeaders)
      .then(response => {
        if (response.status !== 200) return readResponseError(response);
        return response.json();
      })
      .catch(error => writeFeedback(`Error: ${error.message}`));

    if (fetchTree.error) return;

    const rootFolderId = extractShaFromBlob(fetchTree);
    console.log('Fetched SHA of the root tree of the commit:', rootFolderId)
    const tree = extractTree(fetchTree);
    console.log('Fetched JSON representation of the commit:', tree)

    const targetFolderId = extraShaOfTargetFolder(tree);
    console.log(`SHA of target folder '_podcasts': ${targetFolderId}`)

    // create branch
    console.log('POST {{ site.github_api }}/git/refs');
    const createBranch = await fetch('{{ site.github_api }}/git/refs', {
      method: 'post',
      body: JSON.stringify({
        ref: `refs/heads/${branch}`,
        sha: commitId,
      }),
      ...authHeaders,
    })
      .then(response => {
        if (response.status !== 201) return readResponseError(response);
        return response.json();
      })
      .catch(error => writeFeedback(`Error: ${error.message}`));

    if (createBranch.error) return;
    console.log(`Created branch: ${branch}.`)

    // create tree
    console.log('POST {{ site.github_api }}/git/trees');
    const createTree = await fetch('{{ site.github_api }}/git/trees', {
      method: 'post',
      body: JSON.stringify({
        // base_tree: rootFolderId,
        // TODO: Make sure to add the new file to targetFolderId (`_podcasts`) instead of root folder. But how?
        tree: [
          {
            path: `${branch}.md`,
            type: 'blob',
            mode: '100644',
            content:
            `---
            episode: ${episode}
            permalink: ${permalink}
            podcast: ${podcast}
            image: .jpg
            description: ${description}
            link: ${link}
            media: ${media}
            ---`.replace(/            /g, ''),
          },
        ],
      }),
      ...authHeaders,
    })
      .then(response => {
        if (response.status !== 201) return readResponseError(response);
        return response.json();
      })
      .catch(error => writeFeedback(`Error: ${error.message}`));

    if (createTree.error) return;
    const newTreeSha = extractShaFromBlob(createTree);
    console.log(`Created new tree: ${newTreeSha}`)

    // commit changes
    console.log('POST {{ site.github_api }}/git/commits');
    const createCommit = await fetch('{{ site.github_api }}/git/commits', {
      method: 'post',
      body: JSON.stringify({
        message: `${podcast} - ${episode}`,
        tree: newTreeSha,
        parents: [commitId],
      }),
      ...authHeaders,
    })
      .then(response => {
        if (response.status !== 201) return readResponseError(response);
        return response.json();
      })
      .catch(error => writeFeedback(`Error: ${error.message}`));

    if (createCommit.error) return;
    const newCommitId = extractShaFromBlob(createCommit);
    console.log(`Changes committed to ${branch}.`)

    // push
    console.log(`POST {{ site.github_api }}/git/refs/heads/${branch}`);
    const pushChanges = await fetch(`{{ site.github_api }}/git/refs/heads/${branch}`, {
      method: 'post',
      body: JSON.stringify({
        sha: newCommitId,
        // force: true,
      }),
      ...authHeaders,
    })
      .then(response => {
        if (response.status !== 200) return readResponseError(response);
        return response.json();
      })
      .catch(error => writeFeedback(`Error: ${error.message}`));

    if (pushChanges.error) return;
    console.log(`Pushed commit to ${branch}!`)

    // create PR

    // fetch("{{ site.github_api }}/pulls")

    return true;
  }

  document.getElementById('create-pull-request').addEventListener('submit', function(event) {
    event.preventDefault();
    createPullRequest(event);
  }, false);

</script>