<a name="{{ include.podcast.permalink }}"></a>
<div class="podcast-hero">
  <div class="content">
    <div class="image">
      {% if include.podcast.image %}
      <a href="{{ include.podcast.url }}" target="_blank">
        {% if include.podcast.image contains '://' %}
        <img src="{{ include.podcast.image }}" />
        {% else %}
        <img src="/images/{{ include.podcast.image }}" />
        {% endif %}
      </a>
      {% endif %}
    </div>
    <div>
      <h3>
        <a href="#{{ include.podcast.permalink }}">
        {{ include.podcast.episode }}
        </a>
      </h3>
      <div class="podcast-name">
        {{ include.podcast.podcast }}
      </div>
      <div class="podcast-description">
        {{ include.podcast.description }}
      </div>
      <div class="button-container">
        <a class="button" href="{{ include.podcast.link }}" target="_blank">Listen now</a>
        {% if include.more %}
        <a class="button" href="{{ include.podcast.permalink }}">More like this</a>
        {% else if %}
        <a class="button" href="/">See all</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>