---
layout: list
---
      <h4>Add Episode</h4>
      <form>
        {% include input.html input="episode" label="Episode" %}
        {% include input.html input="permalink" label="Permalink" value="/" %}
        {% include input.html input="podcast" label="Podcast" %}
        {% include textarea.html input="description" label="Description" %}
        {% include input.html input="link" label="Link" %}
        {% include input.html input="media" label="Media" %}
        {% include input.html input="image" label="Image" %}
        <button>Commit</button>
      </form>

      