---
layout: list
---
      <h4>Add Episode</h4>
      <form id="create-pull-request">
	    <div>
{% include checkbox.html id="unpublished" label="Do not publish" %}
{% include input.html id="publicationDate" label="Publication Date" placeholder="YYYY-MM-DD" %}
{% include input.html id="episode" label="Episode" placeholder="Name of the episode" %}
{% include input.html id="permalink" label="Permalink" value="/" %}
{% include input.html id="podcast" label="Podcast" placeholder="Name of the podcast" %}
{% include textarea.html id="description" label="Description" placeholder="A short description of the show" %}
{% include input.html id="link" label="Link" placeholder="The webpage where users can see more details about the show" %}
{% include input.html id="media" label="Media" placeholder="The URL from which the file can be listened to" %}
{% include input.html id="image" type="file" accept="image/*" label="Image" %}
{% include input.html id="imageName" label="Image Name" placeholder="Name of the uploaded image with its extension" %}
{% include input.html id="existingImage" label="Existing Image" placeholder="Name of a picture in /images with its extension" %}
		</div>
		<hr>
		<div>
		  <h5>GitHub Credentials</h5>
{% include input.html id="username" label="Username" placeholder="GitHub username (email address)" %}
{% include input.html id="password" type="password" label="Password" placeholder="GitHub password" %}
		  <p id="feedback"></p>
		</div>
		<button id="submit">Submit</button>
		<p><a href="https://github.com/settings/tokens" target="_blank" rel="noopener noreferrer">Create a one-time token.</a></p>
		<p><a href="https://github.com/yvesgurcan/devchoice.yvesgurcan.com/pulls" target="_blank" rel="noopener noreferrer">See pull requests.</a></p>
		<p><a href="https://github.com/yvesgurcan/devchoice.yvesgurcan.com/tree/master/_podcasts" target="_blank" rel="noopener noreferrer">List of episodes.</a></p>
		<p><a href="https://github.com/yvesgurcan/devchoice.yvesgurcan.com/tree/master/_unpublished" target="_blank" rel="noopener noreferrer">List of unpublished episodes.</a></p>
      </form>
      {% include create_pull_request.html %}
