---
layout: list
---
{% assign weekday = site.time | date: '%a' %}
{% if weekday == 'Mon' %}
{% assign offset = 1 %}
{% elseif weekday == 'Tue' }
{% assign offset = 0 %}
{% elseif weekday == 'Wed' }
{% assign offset = -1 %}
{% elseif weekday == 'Thu' }
{% assign offset = -2 %}
{% elseif weekday == 'Fri' }
{% assign offset = 5 %}
{% elseif weekday == 'Sat' }
{% assign offset = 4 %}
{% elseif weekday == 'Sun' }
{% assign offset = 3 %}
{% endif %}
      <h4>Next Tuesdays and Thursdays</h4>
      {% for weekNumber in (1...50) %}
        <div>day offset: {{{ offset * weekNumber}}}</div>
      {% endfor %}