---
---
      <h4>Shows / Images</h4>
      <ul>{% for podcast in site.podcasts reversed %}
        <li>{{ podcast.podcast }} ({{ podcast.image }})</li>
      {% endfor %}</ul>

      <h4>Episodes</h4>
      <ul>{% for podcast in site.podcasts reversed %}
        <li>
          {{ podcast.date | date_to_long_string }
          / <a href="{{ podcast.permalink }}" target="_blank">{{ podcast.episode }}</a>
          / {{ podcast.podcast }}
          / <a href="{{ podcast.link }}">{{ podcast.link }}</a>
        </li>
      {% endfor %}</ul>