{% assign now = site.time | date: '%s' %}{% assign second = true %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.episode }} - {{ site.name }}</title>
{% include header.html %}
  </head>
  <body>
{% include branding_top.html %}
{% include titling.html %}
    <div id="main">
{% include podcast_hero.html podcast=page more=false %}
{% for podcast in site.podcasts reversed %}{% unless podcast.hidden %}{% assign date = podcast.date | date: '%s' %}{% if now >= date %}
{% if podcast.podcast == page.podcast and podcast.episode != page.episode %}
      {% if second %}<div class="podcast-list">{% assign second = false %}{% endif %}
{% include podcast_card.html podcast=podcast %}
      {% if second %}</div>{% endif %}
{% endif %}
{% endif %}{% endunless %}{% endfor %}
    </div>
{% include branding_bottom.html %}
  </body>
</html>