{% assign now = site.time | date: '%s' %}{% assign second = true %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/styles/app.css?v1.0" type="text/css">
        <link rel="stylesheet" href="/styles/shared.css?v1.0" type="text/css">
    </head>
    <body>
        <div id="main">
            <div class="podcast-hero">
                <div class="content">
                    <div class="image">
                        {% if page.image %}
                        <a href="{{ page.url }}" target="_blank">
                            {% if page.image contains '://' %}
                            <img src="{{ page.image }}" />
                            {% else %}
                            <img src="/images/{{ page.image }}" />
                            {% endif %}
                        </a>
                        {% endif %}
                    </div>
                    <div>
                        <h3>
                            <a href="?a=">
                            {{ page.episode }}
                            </a>
                        </h3>
                        <div class="podcast-name">
                            {{ page.podcast }}
                        </div>
                        <div class="podcast-description">
                            {{ page.description }}
                        </div>
                        <div class="button-container">
                            <a class="button" href="{{ page.link }}" target="_blank">Listen now</a>
                            <a class="button" href="/">See all</a>
                        </div>
                    </div>
                </div>
            </div>
            {% for podcast in site.podcasts reversed %}{% unless podcast.hidden %}{% assign date = podcast.date | date: '%s' %}{% if now >= date %}
            {% if second %}
            <div class="podcast-list">
            {% assign second = false %}
            {% endif %}
                <div class="podcast-item" ref="podcast">
                    <div class="wrapper">
                        <div class="content">
                            <div class="image">
                                {% if podcast.image %}
                                <a href="{{ podcast.url }}" target="_blank">
                                    {% if podcast.image contains '://' %}
                                    <img src="{{ podcast.image }}" />
                                    {% else %}
                                    <img src="/images/{{ podcast.image }}" />
                                    {% endif %}
                                </a>
                                {% endif %}
                            </div>
                            <div>
                                <h4>
                                    <a href="?a=">
                                        {{ podcast.episode }}
                                    </a>
                                </h4>
                                <div class="podcast-name">
                                    {{ podcast.name }}
                                </div>
                                <div class="podcast-description">
                                    {{ podcast.description }}
                                </div>
                            </div>
                        </div>
                        <div class="button-container">
                            <a class="button" href="{{ podcast.link }}" target="_blank" />Listen now</a>
                            <a class="button" href="{{ podcast.permalink }}">More like this</a>
                        </div>
                    </div>
                </div>
            {% if second %}
            </div>
            {% endif %}
            {% endif %}{% endunless %}{% endfor %}
        </div>
    </body>
</html>
